{% load static %}
<html>
    <head>
        <title>Renta de equipos</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/Renta.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <ul>
        <li><a class="active" href="{% url 'pagina_principal' %}">Home</a></li>
        <li><a href="{% url 'lista_equipos' %}">Equipos</a></li>
        <li><a href="{% url 'lista_clientes' %}">Clientes</a></li>
        <li><a href="{% url 'acerca_de_nosotros' %}">Conocenos</a></li>
      </ul>
    <div class="page-header">
        <h1><a href="/">Renta equipos Angel</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% if messages %}
               <ul class="messages">
                   {% for message in messages %}
                   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                   {% endfor %}
               </ul>
               {% endif %}
            {% block content %}
            {% endblock %}
            <h1>Inicia sesion</h1>
            <h7>Ingresa tu usuario y tu contraseña para ingresar al sitio</h7>
            </div>
        </div>
    </div>
</body>
</html>
