{% load static %}
<html>
    <head>
        <title>Renta de equipos</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/Renta.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Renta equipos Angel</a></h1>
        <ul>
          <li><a class="active" href="{% url 'pagina_principal' %}">Home</a></li>
          <li><a href="{% url 'lista_equipos' %}">Equipos</a></li>
          <li><a href="{% url 'lista_clientes' %}">Clientes</a></li>
          <li style="float:right"><a href="{% url 'acerca_de_nosotros' %}">Conocenos</a></li>
        </ul>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% if messages %}
               <ul class="messages">
                   {% for message in messages %}
                   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                   {% endfor %}
               </ul>
               {% endif %}
            {% block content %}
            {% endblock %}
            <h1>¡¡Quienes somos!!</h1>
            <h7>Somos la empresa de renta de equipos de computo más grande de Guatemala</h7>
            <h1></h1>
            <h6>Direccion: </h6>
            <h7>Diagonal 3. 12-25 zona 4. Quetzalntengoa</h7>
            <h6>Telefono: </h6>
            <h7>77854526</h7>
            <h6>Horarios de atencion: </h6>
            <h7>Lunes a vienes 8:00 a.m. a 6: p.m.</h7>
            <h7>Sabados 8:00 a.m. a 12: a.m.</h7>
            </div>
        </div>
    </div>
</body>
</html>
